

/* GENERAL */
/* ----------------------------- */

* {
   box-sizing: border-box;
}

body {
   height: 100vh;
   background-color: #C8E4F9;
}

div.wrapper {
   max-width: 960px;
   margin: auto;
   background-color: #F5E9E2;
}

img {
   max-width: 100%;
}

div.sitename {
   font-family: "Platypi", serif;
}


/* HEADER */
/* ----------------------------- */
header {
   background-color: #E56161;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 2rem 0 2rem 0;
}

header h1 {
   padding-left: 2rem;
   font-size: 250%;
   font-family: "Platypi", serif;
}

header h1 a {
   text-decoration: none;
   color: black;
}

header h1 a:hover {
   background-color: #E56161;
   border-radius: 2rem;
}


/* NAV */
/* ----------------------------- */
nav.topnav {
   background-color: #F5E9E2;
   border-radius: 2rem;
   margin-right: 2rem;
}

nav.topnav ul {
   list-style-type: none;
   display: flex;
}

nav.topnav a {
   padding: 1em 2em;
   text-transform: uppercase;
   display: block;
   text-decoration: none;
   color: black;
}

nav.topnav a:hover {
   background-color: #E56161;
   border-radius: 2rem;
}

/* HOMEPAGE */
/* ----------------------------- */
main.homepage {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 1rem;
   margin: 1rem 1rem 1rem 1rem;
}

article.bio {
   grid-column: 1/3;
   grid-row: 1/2;
   padding: 1rem;
   background-color: #C8E4F9;
   border-radius: 2rem;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 2fr 1fr;
}

section.desc {
   grid-column: 1/3;
}

h3.dine {
   grid-column: 1/2;
   grid-row: 2/3;
}

h3.view {
   grid-column: 2/3;
   grid-row: 2/3;
}

article.bio h3 {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #E56161;
   padding: 2rem;
   margin: 0 8rem;
   border-radius: 3rem;
   font-size: 130%;
   box-shadow: 8px 10px 5px 0 grey;
}

article.bio a {
   text-decoration: none;
   color: black;
   border-radius: 3rem;
}

article.bio h2 {
   font-size: 200%;
   border-bottom: solid #E56161;
   font-family: "Platypi", serif;
   margin-bottom: .5rem;
   padding-bottom: .5rem;
}

article.bio p {
   font-size: 160%;
   line-height: 2rem;
}

img.homeimage {
   grid-column: 1/2;
   grid-row: 2/3;
   background-color: #C8E4F9;
   border-radius: 2rem;
   padding: 1rem;
}

aside.hours {
   grid-column: 2/3;
   grid-row: 2/3;
   background-color: #C8E4F9;
   border-radius: 2rem;
   padding: 1rem;
   text-align: center;
}

aside.hours h2 {
   font-size: 150%;
   text-align: center;
   margin-bottom: 1.5rem;
   padding-bottom: .5rem;
   border-bottom: solid #E56161;
   font-family: "Platypi", serif;
}

aside.hours li {
   margin-bottom: 1rem;
   font-size: 125%;
   list-style-type: none;
   line-height: 1.3;
}



/* ABOUT US */
/* ----------------------------- */
div.contact {
   background-color: #C8E4F9;
   border-radius: 2rem;
   padding: 1rem;
   margin-left: 1rem;
   line-height: 1.4;
   text-align: center;
}

div.contact h3 {
   font-size: 160%;
}

div.contact p {
   font-size: 140%;
}

main.home h2{
   font-size: 200%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2rem;
   font-family: "Platypi", serif;
}

section.inside {
   display: flex;
   justify-content: space-around;
   margin: 1rem;
}

section.inside img{
   border-radius: 1rem;
   border: 5px solid #E56161;
}

main.home {
   margin-right: 1rem;
}


/* SPECIAL EVENTS */
/* ----------------------------- */
div.special {
   background-color: #C8E4F9;
   border-radius: 2rem;
   padding: 1rem;
   margin-left: 1rem;
   line-height: 1.4;
   text-align: center;
}

div.special h3 {
   font-size: 170%;
}

div.special ul {
   padding: 2rem;
   font-size: 150%;
   list-style-type: none;
}

section.catering {
   display: grid;
   justify-content: space-around;
}

section.catering img {
   border-radius: 2rem;
   margin: 1rem;
   border: 5px solid #E56161;
}

/* MENU */
/* ----------------------------- */
main.menuu h2 {
   font-size: 200%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 2rem;
   font-family: "Platypi", serif;
}

section.menu {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   background-color: #C8E4F9;
   border-radius: 2rem;
   margin: 2rem;
   padding: 1rem;
   grid-gap: 2rem;
}

section.menu img {
   border-radius: 2rem;
   border: 5px solid #E56161;
}

section.menu figcaption {
   margin-top: .5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 150%;
}

/* MENU PAGES */
/* ----------------------------- */

section.menu2 {
   background-color: #C8E4F9;
   border-radius: 2rem;
   margin: 2rem;
   padding: 1rem;
   grid-gap: 2rem;
}

section.menu2 img {
   border-radius: 2rem;
   border: 5px solid #E56161;
}

section.menu2 figcaption {
   margin-top: .5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 150%;
}

section.menu2 figure {
   display: grid;
   grid-template-columns: 1.5fr 1fr;
   grid-template-rows: 1fr;
   margin: 1rem;
}

section.menu2 figure p {
   border-radius: 2rem;
   text-align: center;
   font-size: 130%;
   line-height: 1.3;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem;
}



/* FOOTER */
/* ----------------------------- */
footer {
   padding: .5rem 1rem 1rem 1rem;
}

/* MEDIA QUERY */
/* ----------------------------- */

@media screen and (max-width: 650px){

   .wrapper {
      max-width: 100%;
      grid-template-columns: 1fr;
      margin: 0 auto;
   }

   header {
      display: grid;
      grid-template-columns: 1fr;
   }

   div.sitename {
      margin: 0 auto;
   }

   nav.topnav {
      display: flex;
      margin: 1rem;
      text-align: center;
      justify-content: center;
      align-items: center;
   }

   nav.topnav ul {
      display: block;
   }

   nav.topnav li {
      font-size: 120%;
   }

   main.homepage {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr .5fr;
      grid-column: 1/2;
      grid-row: 1/2;
   }
   
   article.bio {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr .4fr .4fr;
   }

   section.desc {
      grid-column: 1/2;
      grid-row: 1/2;
      padding: .2rem;
      margin-bottom: 1rem;
   }
   
   h3.dine {
      grid-column: 1/2;
      grid-row: 2/3;
   }
   
   h3.view {
      grid-column: 1/2;
      grid-row: 3/4;
   }
   
   article.bio h3 {
   }
   
   article.bio a {
   }
   
   article.bio h2 {
      text-align: center;
      line-height: 1.3;
   }
   
   article.bio p {
      line-height: 1.5;
   }

   aside.hours {
      grid-column: 1/2;
      grid-row: 2/3;
   }

   aside.hours h2 {
      font-size: 200%;
   }

   aside.hours li {
      font-size: 180%;
      line-height: 2;
   }

   img.homeimage {
      grid-column: 1/2;
      grid-row: 3/4;
      display: none;
   }

   section.menu {
      grid-template-columns: 1fr;
   }

   section.menu2 {
      
   }

}